<div  class="pb-2">
    <a href="{% url 'admin:sueldos_liquidacion_changelist' %}">
        <h2 class="font-bold pb-1 border-b-2 border-indigo-500 hover:text-indigo-700"
        >Lista de últimas Liquidaciones</h2>
    </a>
</div>

{% if liquidaciones %}
    {% for liquidacion in liquidaciones %}
        <a href="{% url 'admin:sueldos_liquidacion_change' liquidacion.id %}"
        class="block p-1 bg-white 
        border border-gray-200 rounded-lg 
        shadow-md hover:bg-gray-100 
        dark:bg-gray-800 dark:border-gray-700 
        dark:hover:bg-gray-700 w-full"
        >{{liquidacion}}</a>
    {% endfor %}
{% else %}
<p>No hay liquidaciones cargadas</p>
{% endif %}