{% extends 'base.html' %}

{% block content %}
    <h1 class="text-2xl font-bold text-center">Modulo Sueldos</h1>
    <p class="text-center pb-3">Bienvenido</p>
    <div class="grid grid-cols-3 gap-4">
        <div>
            {% include 'sueldos/liquidaciones_list.html' %}
        </div>
        <div>
            {% include 'sueldos/empleados_list.html' %}
        </div>
        <div>
            <a href="{% url 'admin:sueldos_empleado_add' %}"
            class="block p-1 bg-white 
            border border-gray-200 rounded-lg 
            shadow-md hover:bg-gray-100 
            dark:bg-gray-800 dark:border-gray-700 
            dark:hover:bg-gray-700 w-full"
            >Agregar Empleado</a>
        </div>
    </div>

{% endblock %}